In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report

In [2]:
meta = pd.read_csv('metadata.csv')

In [14]:
feature_df1 = pd.read_csv('feature1.csv')

feature_df2 = pd.read_csv('feature2.csv')
feature_df2['genre'] = meta['genre'][50:100].to_list()

feature_df3 = pd.read_csv('feature3.csv')
feature_df3['genre'] = meta['genre'][100:150].to_list()

feature_df4 = pd.read_csv('feature4.csv')
feature_df4['genre'] = meta['genre'][150:200].to_list()

feature_df5 = pd.read_csv('feature5.csv')
feature_df5['genre'] = meta['genre'][200:250].to_list()

In [15]:
feature_vectors = pd.concat([feature_df1, feature_df2, feature_df3, feature_df4, feature_df5], ignore_index=True)
feature_vectors.to_csv('cnn_feature_vectors.csv', index = False)
feature_vectors.head()

,0,1,2,3,4,5,6,7,8,9,...,14327,14328,14329,14330,14331,14332,14333,14334,14335,genre
0,0.000000,0.0,0.000000,0.0,0.0,0.930601,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Science
1,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Science
2,0.305162,0.0,59.545147,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Science
3,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Science
4,0.000000,0.0,0.000000,0.0,0.0,13.751031,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Science

In [11]:
d = {'Horror':1, 'Crime': 0, 'Romance': 2, 'Fantasy':3, 'Science':4}
vectors = feature_vectors.drop(['genre'], axis=1)
vector_targets = feature_vectors['genre'].map(d, na_action='ignore')

In [13]:
X_train, X_test, y_train, y_test = train_test_split(vectors, vector_targets)

scaler = StandardScaler()
scaler.fit(X_train)
StandardScaler(copy=True, with_mean=True, with_std=True)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [19]:
mlp = MLPClassifier(hidden_layer_sizes=(100,100,100),max_iter=500, activation = 'identity', learning_rate = 'adaptive')
mlp.fit(X_train,y_train)
predictions = mlp.predict(X_test)
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.12      0.07      0.09        15
           1       0.24      0.44      0.31         9
           2       0.31      0.62      0.42         8
           3       0.40      0.27      0.32        15
           4       0.33      0.25      0.29        16

   micro avg       0.29      0.29      0.29        63
   macro avg       0.28      0.33      0.28        63
weighted avg       0.28      0.29      0.27        63

In [4]:
meta.head()

,Unnamed: 0,cover_id,title,author,year,genre,genre_alts,pixel_count,mean_brightness,mean_hue,mean_saturation,entropy
0,257,5010523,DiscoveryWorks,William Badders,NaN,Science,"['Science', 'Study and teaching']",21248,0.801393,0.270078,0.682315,123102.384766
1,328,7225312,Chemicals of Life,Isaac Asimov,NaN,Science,"['organic chemistry', 'Biology', 'Biochemistry...",139000,0.303683,0.189660,0.716836,619915.788392
2,375,28269,The Curious Life of Robert Hooke,Lisa Jardine,NaN,Science,"['History', 'Science', 'Accessible book', 'Pro...",150575,0.321481,0.134043,0.225062,573382.454617
3,96,310408,"One, two, three ... infinity",George Gamow,NaN,Science,"['Science', 'Accessible book', 'physics', 'Pro...",141550,0.468131,0.503024,0.735062,514384.933285
4,136,1173785,How to Write and Publish a Scientific Paper,Robert A. Day,NaN,Science,"['Wetenschappelijke publicaties', 'Protected D...",151500,0.417190,0.456612,0.576622,679999.039310

In [10]:
d = {'Horror':1, 'Crime': 0, 'Romance': 2, 'Fantasy':3, 'Science':4}
meta_data = meta[['mean_brightness', 'mean_hue', 'mean_saturation', 'entropy']]
meta_targets = meta['genre'].map(d, na_action='ignore')

In [11]:
X_train, X_test, y_train, y_test = train_test_split(meta_data, meta_targets)


scaler = StandardScaler()
scaler.fit(X_train)
StandardScaler(copy=True, with_mean=True, with_std=True)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [12]:
mlp = MLPClassifier(hidden_layer_sizes=(100,100,100),max_iter=500, activation = 'identity', learning_rate = 'adaptive')
mlp.fit(X_train,y_train)
predictions = mlp.predict(X_test)
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.43      0.20      0.27        15
           1       0.45      0.90      0.60        10
           2       0.29      0.31      0.30        13
           3       0.25      0.17      0.20        12
           4       0.29      0.31      0.30        13

   micro avg       0.35      0.35      0.35        63
   macro avg       0.34      0.38      0.33        63
weighted avg       0.34      0.35      0.32        63